

.scroll{
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 5;
    cursor: pointer;
    i{
        font-size: 20px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        &:hover{
            background-color: $Black;
        }
    }
}