.banner{
    $this: &;
    padding: 48px 0;
    #{$this}__images{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.422);
        display: none;
        align-items: center;
        justify-content: center;
        &.mystyle{
            display: flex;
        }
        .imgs{
            width: 1000px;
            height: 500px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    #{$this}__content{
        @include MediaQuery($tablet){
            margin: 0px;
        }
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-right: -30px;
    }
    
    #{$this}__left{
        @include MediaQuery($tablet){
            padding: 0px 30px 0px 0px;
            flex: 0 0 60%;
            max-width: 60%;
        }
        @include MediaQuery($mobile){
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0px;
        }
        &:hover img{
            transform: scale(1.1);
        }
        cursor: pointer;
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0 30px;
        position: relative;
        #{$this}__image{
            width: 100%;
            overflow: hidden;
            img{
                display: block;
                transition: all 0.5s ease;
            }
        }
        #{$this}__text{
            @include MediaQuery($tablet){
                margin-top: -55px;
                padding: 15px;
            }
            position: relative;
            width: 90%;
            text-align: center;
            justify-content: center;
            margin-top: -125px;
            background-color: $white;
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            z-index: 1;
            #{$this}__link {
                margin-bottom: 20px;
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $red;
                    padding: 1px 10px;
                    color: $white;
                }
            }
            h2{
                @include MediaQuery($tablet){
                    font-size: 17px;
                    line-height: 25px;
                }
                font-size: 25px;
                font-weight: 600;
                line-height: 40px;
                margin-bottom: 20px;
                background: linear-gradient(to right, $Black, $Black) 1px 95% / 0% 2px no-repeat;
                display: inline;
                transition: all 0.5s ease;
                &:hover {
                    background-size: 100% 2px;
                }
            }
            p{
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }

    #{$this}__right{
        @include MediaQuery($tablet){
            flex: 0 0 40%;
            max-width: 40%;
            padding: 0px;
        }
        @include MediaQuery($mobile){
            display: none;
        }
        flex: 0 0 30%;
        max-width: 30%;
        padding: 0 30px;
        h3{
            font-size: 25px;
            font-weight: 600;
        }
        h4{
            @include MediaQuery($tablet){
                font-size: 17px;
                margin: 15px 0;
            }
            font-size: 18px;
            font-weight: 400;
            margin: 40px 0;
            line-height: 30px;
        }
    }
}