.dating{
    padding: 48px 0px;
    $that: &;
    #{$that}__all{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: center;
    }
    #{$that}__content{
        @include MediaQuery($tablet){
            flex: 0 0 50%;
            max-width: 50%;
            &:last-child{
                margin-top: 40px;
            }
        }
        @include MediaQuery($mobile){
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        flex: 0 0 33.333%;
        max-width: 33.3333%;
    }
    #{$that}__item{
        padding: 0 15px;
        &:hover img{
            transform: scale(1.1);
        }
    }
    #{$that}__image{
        max-width: 100%;
        overflow: hidden;
        cursor: pointer;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            display: block;
            transition: all 0.5s ease;
        }
    }
    #{$that}__text{
        padding: 20px;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -60px;
        background-color: #fff;
        z-index: 1;
        position: relative;
        #{$that}__link{
            margin-bottom: 20px;
            .color{
                background-color: rgb(227 57 116);
            }
            .color2{
                background-color: rgb(79 77 191);
            }
            .color3{
                background-color: rgb(0 110 229);
            }
            a{
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                padding: 1px 10px;
                color: #fff;
            }
        }
        h2{
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            cursor: pointer;
        }
        p{
            font-size: 15px;
            margin-top: 20px;
        }
    }
}


