.email{
    $this: &;
    padding: 48px 0;
    #{$this}__container{
        @include MediaQuery($mobile){
            padding: 20px;
        }
        background-color: rgb(247 247 247);
        padding: 48px;
        #{$this}__content{
            @include MediaQuery($tablet){
                text-align: center;
                justify-content: center;
            }
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
            .emailflex{
                @include MediaQuery($tablet){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                flex: 0 0 50%;
                max-width: 50%;
            }
            #{$this}__text{
                padding-right: 50px;
                @include MediaQuery($tablet){
                    max-width: 80%;
                    padding-right: 0px;
                }
                @include MediaQuery($mobile){
                    max-width: 100%;
                }
                p{
                    @include MediaQuery($tablet){
                        margin: 0 auto;
                        padding: 0px;
                        margin-bottom: 30px;
                    }
                    @include MediaQuery($mobile){
                        width: 100%;
                        font-size: 17px;
                    }
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 40px;
                    width: 90%;
                }
            }
            #{$this}__sub{
                display: flex;
                flex-wrap: wrap;
                max-width: 100%;
                @include MediaQuery($tablet){
                    max-width: 80%;
                }
                @include MediaQuery($mobile){
                    max-width: 100%;
                    justify-content: center;
                }
                input{
                    @include MediaQuery($mobile){
                        margin-bottom: 30px;
                        width: 100%;
                    }
                    height: 55px;
                    padding: 0 30px;
                    font-size: 14px;
                    color: $Black;
                    width: calc(100% - 150px);
                    border: none;
                    outline: none;
                }
                button{
                    width: 150px;
                    border: none;
                    outline: none;
                    height: 55px;
                    background-color: $red;
                    color: $white;
                    
                }
            }
        }
    }
}