.footer{
    $this:&;
    padding: 48px 0;
    #{$this}__story{
        @include MediaQuery($tablet){
            margin-bottom: 60px;
            order: 2;
        }
        h2{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 30px;
            span{
                color: rgb(245, 86, 86);
            }
        }
        p{
            font-size: 16px;
            color: rgb(100, 99, 97);
            margin: 20px 0;
        }
    }
    #{$this}__quick{
        @include MediaQuery($tablet){
            margin-bottom: 60px;
            order: 1;
        }
        h3{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        ul{
            li{
                font-size: 16px;
                color: rgb(100, 99, 97);
                margin: 20px 0;
            }
        }
        #{$this}__icon{
            i{
                font-size: 20px;
                margin-right: 20px;
                transition: all 0.5s ease;
                cursor: pointer;
                &:hover{
                    color: red;
                }
            }
        }
    }
}