.header{
    $this: &;
    align-items: center;
    border-bottom: 1px solid $Gray;
    #{$this}__container{ 
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
    }
    #{$this}__menumobile{
        display: none;
        @include MediaQuery($mobile){
            display: flex;
            align-items: center;
            font-size: 20px;
            justify-content: space-between;
        }
    }
    #{$this}__search{
        display: none;
    &.actives{
        display: block;
    }
    }
    #{$this}__search-wrapper{
        display: flex;
        position: relative;
        #{$this}__input{
            background-color: $white;
            width: 100%;
            input{
                @include MediaQuery($mobile){
                    padding-left: 20px;
                }
                width: 100%;
                height: 100px;
                padding-left: 120px;
                font-size: 20px;
                border: none;
                outline: none;
                background-color: rgb(250 250 250);
            }
        }
        button {
            @include MediaQuery($mobile){
                right: 1rem;
            }
            border: none;
            background-color: $white;
            font-size: 20px;
            background-color: $white;
            position: absolute;
            right: 8rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    #{$this}__content{
        display: flex;
        align-items: center;
        a{
            text-align: center;
            img{
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    #{$this}__menu{
        display: flex;
        //  
        @include MediaQuery($mobile){
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background-color: $Gray;
            transform: translateX(-150%);
            transition: all 0.7s ease;
            z-index: 2;
            &.active{
                transform: translateX(0%);
            }
        }
        
        #{$this}__logo{
            display: none;
            @include MediaQuery($mobile){
                display: flex;
                justify-content: space-between;
                padding: 20px;
                border-bottom: 1px solid $Black;
                #{$this}__logomobile img{
                    width: 70%;
                    height: auto;
                }
            }
        }
        ul{
            display: flex;
            margin-left: 40px;
            @include MediaQuery($mobile){
                display: block;
                padding-top: 50px;
                margin-bottom: auto;
            }
            li{
                margin: 0 20px;
                font-size: 16px;
                cursor: pointer;
                transition: all 0.5s;
                font-weight: 600;
                @include MediaQuery($tablet){
                    font-size: 15px;
                    margin-right: 8px;
                    margin: 40px 20px;
                }
                #{$this}:hover{
                    color: $red;
                }
                #{$this}:first-child{
                    color: $red;
                }
            }
        }
        #{$this}__iconmobile{
            display: none;
            @include MediaQuery($mobile){
                display: flex;
                justify-content: center;
                margin-top: 70px;
                
                i{
                    margin: 0 20px;
                    font-size: 20px;
                }
            }
        }
    }
    #{$this}__item{
        align-items: center;
        display: flex;
        .all {
            border: none;
            outline: none;
            background-color: $white;
            cursor: pointer;
            i{
                font-size: 20px;
                margin: 0 10px;
                margin-right: 20px;
                @include MediaQuery($mobile){
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
        #{$this}__icon{
            @include MediaQuery($tablet){
                display: none;
            }
            @include MediaQuery($mobile){
                display: none;
            } 
            display: flex;
            position: relative;
            padding: 10px 20px;
            &:before{
                content: "";
                width: 0.5px;
                height: 100%;
                background-color: $Black;
                display: flex;
                left: 0px;
                top: 0px;
                position: absolute;
            }
        }
    }
}




