.love{
    $this: &;
    padding: 48px 0;
    #{$this}__content{
        @include MediaQuery($tablet){
            margin-left: -15px;
        }
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    #{$this}__all{
        @include MediaQuery($tablet){
            padding: 15px;
        }
        @include MediaQuery($mobile){
            flex: 0 0 100%;
            max-width: 100%;
        }
        flex: 0 0 50%;
        max-width: 50%;
        padding: 30px;
    }

    #{$this}__item{
        .box{
            @include MediaQuery($tablet){
                box-shadow: 15px 15px #784d74;
            }
            box-shadow: 30px 30px #784d74;
        }
        .box1{
            @include MediaQuery($tablet){
                box-shadow: 15px 15px rgb(227 57 116);
            }
            box-shadow: 30px 30px rgb(227 57 116);
        }
        .box2{
            @include MediaQuery($tablet){
                box-shadow: 15px 15px rgb(79 77 191);
            }
            box-shadow: 30px 30px rgb(79 77 191);
        }
    }

    #{$this}__image{
        z-index: 0;
        img{
            @include MediaQuery($tablet){
                height: 200px;
            }
            display: block;
            height: 400px;
            width: 100%;
            object-fit: cover;
            
        }
    }
    #{$this}__text{
        @include MediaQuery($tablet){
            width: 95%;
        }
        background-color: #fff;
        margin-top: -30px;
        position: relative;
        z-index: 1;
        width: 90%;
        margin-right: auto;
        padding: 30px;
        #{$this}__button{
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            padding: 1px 10px;
            color: #fff;
            margin-bottom: 30px;
            
        }
        .color1{
            background-color: #784d74;
        }
        .color2{
            background-color: rgb(227 57 116);
        }
        .color3{
            background-color: rgb(227 57 116);
        }
        .color4{
            background-color: #0d6efd;
        }
        h2{
            @include MediaQuery($tablet){
                font-size: 14px;
            }
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
        }
        #{$this}__day{
            p{
                margin-top: 20px;
            }
        }
    }
}