.more{
    padding: 48px 0px;
    &__container{
        @include MediaQuery($mobile){
            padding: 25px;
        }
        background-image: url(/src/img/wedding-gccd53804a_1280.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        position: relative;
        z-index: 1;
        padding: 48px;
        &::before{
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.412);
            position: absolute;
            z-index: -1;
        }
    }

    &__content{
        display: block;
        width: 60%;
        @include MediaQuery($tablet){
            width: 80%;
        }
        @include MediaQuery($mobile){
            width: 100%;
        }
        .more__link{
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            background-color: $Blu;
            padding: 1px 10px;
            color: $white;
            margin-bottom: 20px;
        }
        
        h2{
            @include MediaQuery($tablet){
                font-size: 19px;
                line-height: 25px;
            }
            @include MediaQuery($mobile){
                font-size: 16px;
            }
            font-size: 25px;
            font-weight: 600;
            color: $white;
            line-height: 50px;
            margin: 30px 0;
            cursor: pointer;
        }
        & button{
            padding: 10px 20px;
            background-color: $red;
            color: $white;
            font-weight: 600;
            border: none;
            cursor: pointer;
            margin-top: 30px;
            display: block;
        }
    }
    
}