.only{
    $this: &;
    #{$this}__content{
        display: block;
    }
    padding: 48px 0px;
    #{$this}__content{
        position: relative;
    }
    #{$this}__image{
        overflow: hidden;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
            z-index: 0;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    #{$this}__text{
        @include MediaQuery($tablet){
            width: 90%;
            padding-left: 50px;
        }
        @include MediaQuery($mobile){
            width: 100%;
            padding: 15px;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 80px;
        width: 55%;
        
    }
    #{$this}__link{
        margin-bottom: 30px;
        a{
            text-decoration: none;
            background-color: $Blu;
            color: $white;
            padding: 1px 10px;
            font-size: 12px;
            font-weight: 600;
        }
    }
    h2{
        @include MediaQuery($tablet){
            font-size: 19px;
            line-height: 30px;
        }
        @include MediaQuery($mobile){
            font-size: 17px;
        }
        font-size: 27px;
        font-weight: 600;
        color: $white;
        line-height: 40px;
        cursor: pointer;
    }
    #{$this}__button{
        button{
            border: none;
            background-color: $red;
            color: $white;
            padding: 10px 30px;
            margin-top: 30px;
            transition: all 0.5s ease;
            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
    #{$this}__happy{
        @include MediaQuery($tablet){
            margin-left: -15px;
        }
        padding: 48px 0;
        display: flex;
        margin-left: -30px;
        flex-wrap: wrap;
        #{$this}__all{
            @include MediaQuery($tablet){
                padding: 15px;
            }
            @include MediaQuery($mobile){
                flex: 0 0 100%;
                max-width: 100%;
            }
            flex: 0 0 50%;
            max-width: 50%;
            padding: 30px;
        }
        #{$this}__img{
            @include MediaQuery($tablet){
                box-shadow: 15px 15px rgb(120 77 116);
            }
            box-shadow: 30px 30px rgb(120 77 116);
            img{
                @include MediaQuery($tablet){
                    height: 200px;
                }
                height: 400px;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
        #{$this}__heading{
            padding: 30px;
            margin-top: -60px;
            background-image: Blu;
            position: relative;
            background-color: $white;
            width: 95%;
        }
        h3{
            @include MediaQuery($tablet){
                font-size: 18px;
            }
            font-size: 22px;
            font-weight: 600;
            line-height: 40px;
            cursor: pointer;
        }
        p{
            font-size: 15px;
            margin-top: 30px;
        }
    }
    #{$this}__more{
        text-align: center;
        button{
            border: none;
            background-color: $red;
            padding: 10px 30px;
            color: #fff;
            font-weight: 600;
            &:hover{
                background-color: #000;
            }
        }
    }
}