.container{
    padding: 0px;
    @include MediaQuery($mobile){
        max-width: 390px;
    }
}

img{
    max-width: 100%;
    height: auto;
}



.Underlined{
    background: linear-gradient(to right, #000, #000) 1px 95% / 0% 2px no-repeat;
    display: inline;
    transition: all 0.5s ease;
    &:hover{
        background-size: 100% 2px;
    }
}

.Underlinedwhite{
    background: linear-gradient(to right, #fff, #fff) 1px 95% / 0% 2px no-repeat;
    display: inline;
    transition: all 0.5s ease;
    &:hover{
        background-size: 100% 2px;
    }
}